<div class="footer">
    <div class="footmain">
        <div class="foot-logo">
            <img src="__STATIC__/index/image/logo.png" />
        </div>
        <ul class="foot-list clearfix jiathis_style_32x32">
            <li class="share-list">
                <a class="jiathis_button_tsina"></a>
            </li>
            <li class="share-list">
                <a class="jiathis_button_qzone"></a>
            </li>
            <li class="share-list">
                <a class="jiathis_button_weixin"></a>
            </li>
            <li class="share-list">
                <a class="jiathis_button_douban"></a>
            </li>
        </ul>
        <!-- <div class="companyNumber"> -->
        <h5 style="color:white;margin: 0 auto;margin-top: 67px;color: #ABABAB;font-size: 14px;text-align: center;">上海市静安区梅园路360号环龙通讯商城2-087</h5>
        <h5 style="color:white;margin: 0 auto;margin-top: 10px;color: #ABABAB;font-size: 14px;text-align: center;">©浙ICP备15007035号-1</h5>

        <!-- ©浙ICP备15007035号-1</div> -->
    </div>
</div>