<!--Navigation star-->
<section class="navBar">
    <div class="navBox">
        <div class="logo">
            <a href="index.html">
                <img src="__STATIC__/index/image/logo.png">
            </a>
            <p class="subtitle" style="color:#fff;">手机维修专家</p>
        </div>
        <ul class="menu">
            <a href="index.html">
                <li>首页</li>
            </a>
            <a href="#brand-box">
                <li>预约下单</li>
            </a>
            <a href="#littleBanner">
                <li>热门活动</li>
            </a>
            <a href="#">
                <li>手机回收</li>
            </a>
            <a href="#service">
                <li>优质服务</li>
            </a>
            <a href="#question">
                <li>常见问题</li>
            </a>
        </ul>
        <!-- <p class="tel">登录/注册</p> -->
        <div class="clear"></div>
    </div>
</section>

<!--Navigation over-->