<!DOCTYPE html>
<html>
<head>
  <title>上海启凌科技-手机维修上门首选、维修我们是专业的_登录</title>
  <link type="image/vnd.microsoft.icon" href="__STATIC__/index/image/bitbug_favicon.ico?v=20160805" rel="shortcut icon" />
  <meta name="Description" content="上海上海启凌科技-高品质的手机上门维修平台,提供苹果、三星、华为等主流机型的专业维修服务,正规认证、方便快捷、专业靠谱。维修从未如此好用,一个电话,服务到家:131-6603-6350 "
  />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="__STATIC__/index/css/login.css" rel='stylesheet' type='text/css' />

</head>
<body>
<div class="main">
  <div class="login">
    <h1>登录</h1>
    <div class="inset">
      <!--start-main-->
      <form>
        <div>
          <span><label>手机</label></span>
          <span><input type="text" class="textbox" ></span>
        </div>
        <div>
          <span><label>密码</label></span>
          <span><input type="password" class="password"></span>
        </div>
        <div>
          <span><label style="width:40%;margin-right:20%;">手机验证码</label><input style="width:40%" type="password" class="password"></span>
        </div>
        <div class="sign">
          <input type="submit" value="登录" class="submit" />
        </div>
      </form>
    </div>
  </div>
  <!--//end-main-->
</div>

<div class="copy-right">
  <p style="color:white;margin: 0 auto;margin-top: 67px;font-size: 14px;text-align: center;">上海市静安区梅园路360号环龙通讯商城2-087</p>
  <p style="color:white;margin: 0 auto;margin-top: 10px;font-size: 14px;text-align: center;">©浙ICP备15007035号-1</p>

</div>

</body>
</html>