<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>上海启凌科技-手机维修上门首选、维修我们是专业的</title>
    <link type="image/vnd.microsoft.icon" href="__STATIC__/index/image/bitbug_favicon.ico?v=20160805" rel="shortcut icon" />
    <meta name="Description" content="上海上海启凌科技-高品质的手机上门维修平台,提供苹果、三星、华为等主流机型的专业维修服务,正规认证、方便快捷、专业靠谱。维修从未如此好用,一个电话,服务到家:131-6603-6350 "
    />
    <meta name="Keywords" content="上海上海启凌科技官网,手机上门维修,苹果手机维修,iPhone维修,三星手机维修,小米手机维修" />
    <!--    <meta HTTP-EQUIV="pragma" content="no-cache"> 
	<meta HTTP-EQUIV="Cache-Control" content="no-cache, must-revalidate"> 
	<meta HTTP-EQUIV="expires" content="0">	-->
    <!-- <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon"> -->
    <script src="__STATIC__/index/js/jquery.min.js"></script>
    <link href="__STATIC__/index/css/index.css" rel="stylesheet">
    <link href="__STATIC__/index/css/public.css" rel="stylesheet">
    <link rel="stylesheet" href="__STATIC__/index/css/swiper-3.4.1.min.css" />
    <script type="text/javascript" src="__STATIC__/index/js/dataUrl.js"></script>
    <script type="text/javascript" src="__STATIC__/index/js/Url.js"></script>

    <script>
        if (navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE6.0" || navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE7.0" || navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE8.0" || navigator.appName == "Microsoft Internet Explorer" && navigator.appVersion.split(";")[1].replace(/[ ]/g, "") == "MSIE9.0") {
            alert("您的浏览器版本过低，请下载IE9以上版本")        
}
    </script>
</head>

<body>
    

    {include file="public/head"}

    <!--Navigation over-->

    <!--content star-->
    <div class="banner" id="banner">
        <div class="banner-box clearfix" id="bannertu">
            <a href="https://shop517901511.taobao.com/?spm=a230r.7195193.1997079397.2.L5O1Sd" class="d1 banner-list" style="background:url(__STATIC__/index/image/uploadImg/banner/20180303/5a94e0636ab5eaaa.png) center no-repeat;"></a>
            <a href="#" class="d1 banner-list" style="background:url(__STATIC__/index/image/uploadImg/banner/20180303/5a585645ec7b2.png) center no-repeat;"></a>
            <a href="#" class="d1 banner-list" style="background:url(__STATIC__/index/image/uploadImg/banner/20180303/59cddbdbf36e5ershou.png) center no-repeat;"></a>
            <a href="#" class="d1 banner-list" style="background:url(__STATIC__/index/image/uploadImg/banner/20180303/59cddbdbf36ehj.png) center no-repeat;"></a>
            <a href="#" class="d1 banner-list" style="background:url(__STATIC__/index/image/uploadImg/banner/20180303/banner3.png) center no-repeat;"></a>
            <a href="#" class="d1 banner-list" style="background:url(__STATIC__/index/image/uploadImg/banner/20180303/banner4.png) center no-repeat;"></a>
        </div>
        <div class="d2" id="banner_id">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="superiority clearfix">
        <li class="superior-list">
            <img src="__STATIC__/index/image/superior1.png" alt="" />
            <p class="superior-text">免费上门</p>
        </li>
        <li class="superior-list">
            <img src="__STATIC__/index/image/superior2.png" alt="" />
            <p class="superior-text">专业工程师</p>
        </li>
        <li class="superior-list">
            <img src="__STATIC__/index/image/superior3.png" alt="" />
            <p class="superior-text">180天免费保修</p>
        </li>
        <li class="superior-list">
            <img src="__STATIC__/index/image/superior4.png" alt="" />
            <p class="superior-text">原厂正品</p>
        </li>
        <li class="superior-list">
            <img src="__STATIC__/index/image/superior5.png" alt="" />
            <p class="superior-text">维修过程录像</p>
        </li>
    </div>
    <div class="user">
        <div class="userBox">
            <p id="countNum" class="counter">
                <span class="hidden">天生骄傲</span>
                <span class="timer count-title" id="count-number" data-to="17870" data-speed="1500"></span>
                <span class="hidden">用户的选择与认可</span>
            </p>
        </div>
    </div>
<div class="common-box">
    <div class="common-title">热门维修故障</div>
    <div class="comm-box clearfix">
        <div id="weixiu"></div>
        
        <div class="comm-list2">更多故障维修&gt;</div>
    </div>
</div>
    <!-- <div id="brand-box" class="brand">
        <p class="title">我也要选择上海上海启凌科技</p>
        <div class="brand-box">
            <div id="page-one" class="page-one clearfix">
                <div class="search">
                    <div class="search-bar">
                        <input placeholder="快速搜索机型例如：iPhone6" class="search-text" type="text" name="country" id="autocomplete-ajax" />
                        <button class="sure-btn">
                            <img class="search-pic" src="__STATIC__/index/image/search_pic.png" />
                        </button>
                    </div>
                    <div id="show-btn" class="more clearfix">
                        <img src="__STATIC__/index/image/i_more.png">
                        <p>更多机型</p>
                    </div>
                </div>
                <div id="one-left" class="one-left clearfix">
                </div>
                <div class="one-right">
                    <div class="color clearfix">
                        <p class="color-name">选择颜色</p>
                        <ul id="modelColor" class="color-list">
                        </ul>
                    </div>
                    <p id="color-text">（必选）</p>
                    <p class="choose-wrong">选择故障</p>
                    <div class="break">
                        <div class="break-wrap">
                            <ul id="break-list" class="break-list">
                            </ul>
                        </div>

                    </div>
                    <button class="btn">马上报修</button>
                </div>
            </div>
            <div id="page-two" class="page-two">
                <p class="tow-name">上海上海启凌科技目前支持的机型</p>
                <ul id="two-brand" class="two-brand">
                </ul>
                <div class="row iphoneBox">
                    <div class="t-model-name">
                        机型
                    </div>
                    <div id="modelPhone" class="two-model">
                    </div>
                </div>
                <div class="row iphoneBox">
                    <div id="modelPad" class="two-model">
                    </div>
                </div>
                <div class="btn-submit clearfix">
                    <button id="return">
                        <img src="__STATIC__/index/image/page_t_arrow2.png">
                        <p>返回</p>
                    </button>
                    <button id="two-submit" class="two-submit">
                        <p>选择故障</p>
                        <img src="__STATIC__/index/image/page_t_arrow.png"> </button>
                </div>

            </div>
        </div>
    </div> -->


    <div id="littleBanner" class="littleBanner">
        <div class="lBannerBox">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:;" class="item bg4">
                            <div class="title">
                                <img class="icon" src="__STATIC__/index/image/little_bannericon4.png">
                                <p>无人机维修</p>
                                <div class="clear"></div>
                            </div>
                            <p class="price">￥
                                <span>0</span>起</p>
                            <img class="bannerarrow" src="__STATIC__/index/image/little_bannerarrow4.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;" class="item bg5">
                            <div class="title">
                                <img class="icon" src="__STATIC__/index/image/little_bannericon5.png">
                                <p>MacBook系列维修</p>
                                <div class="clear"></div>
                            </div>
                            <p class="price">￥
                                <span>0</span>起</p>
                            <img class="bannerarrow" src="__STATIC__/index/image/little_bannerarrow5.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;" class="item bg3">
                            <div class="title">
                                <img class="icon" src="__STATIC__/index/image/little_bannericon3.png">
                                <p>iphone换屏</p>
                                <div class="clear"></div>
                            </div>
                            <p class="price">￥
                                <span>240</span>起</p>
                            <img class="bannerarrow" src="__STATIC__/index/image/little_bannerarrow3.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;" class="item bg">
                            <div class="title">
                                <img class="icon" src="__STATIC__/index/image/little_bannericon1.png">
                                <p>iphone内存升级</p>
                                <div class="clear"></div>
                            </div>
                            <p class="price">￥
                                <span>288</span>起</p>
                            <img class="bannerarrow" src="__STATIC__/index/image/little_bannerarrow1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;" class="item bg2">
                            <div class="title">
                                <img class="icon" src="__STATIC__/index/image/little_bannericon2.png">
                                <p>iphone更换电池</p>
                                <div class="clear"></div>
                            </div>
                            <p class="price">￥
                                <span>89</span>起</p>
                            <img class="bannerarrow" src="__STATIC__/index/image/little_bannerarrow2.png">
                        </a>
                    </div>
                </div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>



            <div class="clear"></div>
        </div>
    </div>

    <div class="fast">
        <div class="fastbox">
            <p class="title">够快，出乎你的意料</p>
            <p class="subtitle">知道你不适应没有手机的日子，所以我们将心比心</p>
            <div class="itembox">
                <div class="item">
                    <p>800名
                        <br>
                        <span>资深工程师</span>
                    </p>
                </div>
                <div class="item line">
                    <p>API
                        <br>
                        <span>派单系统</span>
                    </p>
                </div>
                <div class="item">
                    <p>60s
                        <br>
                        <span>应急响应</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div id="service" class="service">
        <div class="servicebox">
            <p class="title">优质的服务从方方面面开始</p>
            <div class="lineone">
                <div class="item">
                    <img class="icon" src="__STATIC__/index/image/service1.png">
                    <p>快速上门服务
                        <br>
                        <span>极速响应，平均20分钟的维修时间，
                            <br>不出门就能轻松搞定</span>
                    </p>
                </div>
                <div class="item">
                    <img class="icon" src="__STATIC__/index/image/service2.png">
                    <p>数百位专业维修工程师
                        <br>
                        <span>几十万部手机的维修经验，专业技能
                            <br>媲美品牌方原厂返修</span>
                    </p>
                </div>
                <div class="item">
                    <img class="icon" src="__STATIC__/index/image/service3.png">
                    <p>全程录像
                        <br>
                        <span>全程公开、透明的维修过程，看得见
                            <br>的放心</span>
                    </p>
                </div>
                <div class="item">
                    <img class="icon" src="__STATIC__/index/image/service4.png">
                    <p>透明报价
                        <br>
                        <span>维修服务的费用清晰明确，一目了然
                            <br>的放心维修</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="lineone linetwo">
                <div class="item">
                    <img class="icon" src="__STATIC__/index/image/service5.png">
                    <p>全国覆盖
                        <br>
                        <span>目前已经开通全国主流城市，无论
                            <br>你身在哪里，我们都在</span>
                    </p>
                </div>
                <div class="item">
                    <img class="icon" src="__STATIC__/index/image/service6.png">
                    <p>原厂正品
                        <br>
                        <span>维修服务所使用的配件均为高品质的
                            <br>原厂配件，媲美原装正品</span>
                    </p>
                </div>
                <div class="item">
                    <img class="icon" src="__STATIC__/index/image/service7.png">
                    <p>全国联保
                        <br>
                        <span>维修配件均享受长达半年的质保，
                            <br>给你最好的保障</span>
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="process">
        <div class="processbox">
            <p class="title">标准的手机上门维修流程</p>
            <div class="itembox">
                <div class="item">
                    <p>无需APP，网页下单</p>
                </div>
                <div class="item bg2">
                    <p>灵活预约，随时随地</p>
                </div>
                <div class="item bg3">
                    <p>全程录像，品质保障</p>
                </div>
                <div class="item bg4">
                    <p>满意再付款</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>


    <div id="demo1" class="form">
        <p class="f-name">我要预约</p>
        <ul class="show">
            <li>手机型号
                <span id="sj">iPhone SE</span>
                <span id="ys"></span>
            </li>
            <li>故障详情
                <span id="gz">外屏碎(显示正常)</span>
            </li>
            <li>预计费用
                <span class="add-price"></span>
                <span class="price-title">(优惠价)</span>
                <span id="jg" class="price">￥346.00</span>
                <span class="price-title">(原价)</span>
                <span>（ 维修完成后付款 ）</span>
            </li>
        </ul>
        <div class="listbox">
            <div class="modelbox">
                <p class="mode-name">机型选择</p>
                <div class="model-info">
                    <div class="inputbox">
                        <select id="ipone">
                            <option value="ipad 2">ipad 2</option>
                            <option value="ipad 3/4">ipad 3/4</option>
                            <option value="iPad 5">iPad 5</option>
                            <option value="ipad mini1/2">ipad mini1/2</option>
                            <option value="ipad mini3">ipad mini3</option>
                            <option value="iPad mini4">iPad mini4</option>
                            <option value="iPad 6（air2）">iPad 6（air2）</option>
                            <option value="iPhone5/5S">iPhone5/5S</option>
                            <option value="iPhone6">iPhone6</option>
                            <option value="iPhone6p">iPhone6p</option>
                            <option value="Phone6s">iPhone6s</option>
                            <option value="iPhone6sp">iPhone6sp</option>
                            <option value="iPhone7">iPhone7</option>
                            <option value="iPhone7p">iPhone7p</option>
                        </select>
                    </div>
                    <!-- <div class="inputbox">
                        <select id="model">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div> -->
                    <!-- <div class="inputbox" id="breakbox">
                        <select id="break">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                    <div class="clear"></div> -->
                </div>
                <!-- <div class="model-info">
                    <div class="inputbox" id="colorbox">
                        <select id="color_list">
                        </select>
                    </div>
                </div> -->
                <div class="clear"></div>
            </div>

            <div class="modelbox clearfix">
                <p class="mode-name">维修方式</p>
                <div class="model-info">
                    <div class="inputbox">
                        <select id="way">
                            <option data-id="1">上门维修</option>
                            <option data-id="2">邮寄维修</option>
                            <option data-id="3">到店维修</option>
                        </select>
                        <!--<img class="arrow" src="http:/__STATIC__.shanxiuxia.com/activity/mi_arrow.png">-->
                    </div>
                </div>
            </div>
            <div class="modelbox">
                <p class="mode-name">预留信息</p>
                <div class="model-info">
                    <div class="namebox">
                        <input id="userName" type="text" placeholder="姓名(必填)">
                        <br>
                        <span id="nametips">用户姓名(2~16中／英文,不允许空格)</span>
                    </div>
                    <div class="namebox">
                        <input id="phoneNum" type="text" placeholder="电话号码(必填)">
                        <br>
                        <span id="phonetips">请输入手机号码</span>
                    </div>
                    <!--<div class="inputbox vcode">
                        <input id="vCode" class="codeinput" type="text">
                        <button id="enterCode" type="submit" class="codebtn">发送验证码</button>
                        <span id="codetips">请输入正确验证码</span>
                    </div>-->
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modelbox branch">
                <p class="mode-name">维修网点</p>
                <div class="model-info">
                    <div class="inputbox">
                        <select id="provinceService"></select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div id="centerDetails" class="centerDetails">
            </div>
            <div class="modelbox return">
                <p class="mode-name mode-name2">您的地址</p>
                <!-- <div id="alladress" class="model-info">
                    <div class="inputbox allprovince">
                        <select id="province" name="province" data-province="浙江省"></select>
                    </div>
                    <div class="inputbox">
                        <select id="city">
                        </select>
                    </div>
                    <div class="inputbox clean">
                        <select id="areap">
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="homeadress" class="model-info">
                    <div class="inputbox allprovince">
                        <select id="provinceOne" name="province">
                            <option data-id="1">上门维修</option>
                            <option data-id="1">上门维修</option>
                            <option data-id="1">上门维修</option>
                        </select>
                    </div>
                    <div class="inputbox">
                        <select id="cityOne">
                            <option data-id="1">上门维修</option>
                            <option data-id="1">上门维修</option>
                            <option data-id="1">上门维修</option>
                        </select>
                    </div>
                    <div class="inputbox clean">
                        <select id="areaOne">
                            <option data-id="1">上门维修</option>
                            <option data-id="1">上门维修</option>
                            <option data-id="1">上门维修</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div> -->

                <!-- <div class="clear"></div> -->
                <input id="Street" class="street" type="text" placeholder="输入具体街道地址">
                <br>
                <span id="streettips">请填写街道地址</span>
            </div>
            <div class="modelbox" id="imei">
                <p class="mode-name">IMEI码</p>
                <div class="model-info">
                    <div class="IMEI">
                        <input id="IMEI" type="text" placeholder="输入IMEI码(可选填)">
                        <br>
                    </div>
                    <div class="clear"></div>
                </div>
                <p class="pstitle">ps：在拨号面板入输 *#06#；或查看设置－通用－关于本机即可获得IMEI码</p>
                <div class="clear"></div>
            </div>
            <div class="modelbox" id="invoicebox">
                <p class="mode-name">开具发票</p>
                <div class="personal">
                    <input name="chk" id="invoice" type="checkbox">
                    <p class="typeName">个人</p>
                </div>
                <div class="company">
                    <input name="chk" id="invoice2" type="checkbox">
                    <p class="typeName">企业</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="modelbox" id="invoiceTitle">
                <input id="bill" class="street" type="text" placeholder="输入发票抬头">
                <span id="titleFixTips" class="titleFixTips">发票抬头不能为空</span>
                <input id="taxNumber" class="street" type="text" placeholder="输入税号">
                <br>
                <div class="clear"></div>
            </div>
            <div class="modelbox clearfix" id="coupon-box">
                <p class="mode-name">优惠券</p>
                <div class="coupon-main" id="coupon-main1">
                    <input id="coupon" type="text" placeholder="请输入优惠券(可选填)">
                    <p id="convert">立即使用</p>
                </div>
                <a href="#coupon-item" id="xuzhi">使用须知</a>
                <div class="clear"></div>
                <div class="coupon-title"></div>
            </div>
            <div class="modelbox lg clearfix">
                <p class="mode-name">备注信息</p>
                <div class="model-info">
                    <input id="message" class="message" type="text" placeholder="备注：可以让工程师顺带一张钢化贴膜为自己免费贴膜哦">
                </div>
            </div>
            <button id="fixSubmit" class="submitbtn" type="submit">提交订单</button>
        </div>
    </div>
    <div class="invoice-box">
        <div class="invoice-prompt">
            <p class="prompt-title">开票须知</p>
            <p class="prompt-text">应国家税务总局要求，自2017年7月1日起，您若开具增值税普通发票，须同时提供企业抬头及税号，否则发票将无法用于企业报销。</p>
            <p class="prompy-btn">我知道了</p>
        </div>
    </div>

    <!-- <div class="new">
        <div class="newbox">
            <p class="title">行业资讯</p>
            <div class="clearfix">
            </div>
            <p class="newsmore clearfix">
                <a href="#">更多 ></a>
            </p>
        </div>
    </div> -->

    <div id="question" class="question">
        <div class="questionbox">
            <p class="title">您可能会关心的问题</p>
            <ul class="qulist">
                <li>
                    <div class="round"></div>
                    <p class="info">哪些城市支持上门？
                        <br>
                        <span>目前支持的城市，分别为杭州、北京、上海、广州、深圳、成都、苏州、武汉、南京、重庆、无锡、郑州、厦门、西安、天津、长沙、合肥、青岛、宁波、沈阳等城市。 （我们正在努力开通更多的城市，实际以维修下单页面可选性为准。）
                        </span>
                    </p>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="round"></div>
                    <p class="info">不支持上门的城市想要维修怎么办？
                        <br>
                        <span>邮寄到距离最近的维修中心，上海启凌科技负责单向邮寄费用。
                        </span>
                    </p>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="round"></div>
                    <p class="info">上门维修下单完成后的服务流程是怎样的?
                        <br>
                        <span>请保持电话畅通，上海启凌科技工程师/客服会尽快电话联系您，确认设备故障以及上门时间地 点的具体信息，之后工程师会在要求的时间内上门进行维修，维修完成后在线支付。
                        </span>
                    </p>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="round"></div>
                    <p class="info">外屏碎和内屏碎有什么区别？
                        <br>
                        <span>如果屏幕碎了，但图像可以正常显示，表示只是外屏碎。如果图片显示不正常或者完全无法显示，则内屏已碎。
                        </span>
                    </p>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="round"></div>
                    <p class="info">换的配件是正品吗，保修时长多久？
                        <br>
                        <span>上海启凌科技所有配件均为原厂品质，更换的配件保修期一般为6个月（内存升级及软件升级服务除外）
                        </span>
                    </p>
                    <div class="clear"></div>
                </li>
                <li>
                    <div class="round"></div>
                    <p class="info">可以单换外屏玻璃吗？
                        <br>
                        <span>不行，这种更换维修故障高，用户使用体验差。
                        </span>
                    </p>
                    <div class="clear"></div>
                </li>
                <!--            <li id="coupon-item">
            	<div class="round"></div>
            	<p class="info">优惠券的领取和使用具体怎么操作的？<br>
                   <span>领取流程</span><br />
                   <span>1、用户在第三方平台领取优惠券（获取对应的优惠券码）</span><br />
                   <span>兑换流程</span><br />
                   <span>1、用户在上海启凌科技官网或者微信公众号下单</span><br />
                 	<span>2、提交订单时：输入对应的优惠券码后，点击使用，即可减免掉相应的金额</span><br />
                 	<span>3、提交订单后，我们客服会及时与您联系，为您安排上门服务</span><br />
                   <span>注意事项</span><br />
                   <span>1、适用区域：北京、上海、广州、深圳、杭州、成都、苏州、南京、武汉、重庆、无锡</span><br />
                 	<span>2、每个用户仅限使用一次优惠券，不可重复使用，不可与其他优惠活动同时使用，不可兑换现金</span><br />
                 	<span>3、使用有效期：根据运营的设置要求，有效期内使用有效，上海启凌科技拥有最终活动解释权</span><br />
                 	<span>4、客服电话：400-010-5678</span><br />
                </p>
                <div class="clear"></div>
            </li>-->
            </ul>
        </div>
    </div>
    <!--content over-->

    <!--footer start-->

    <div class="notice clearfix">
        <p class="notice-title">郑重声明</p>
        <p class="notice-time">
            <span class="time-title">发布时间：</span>
            <span class="">2017年6月7日</span>
        </p>
        <div class="notice-box">
            <p>近期网络上有不少商家为了非正常手段获利，在网络上不断仿冒上海启凌科技品牌及相关运营体系，用假冒大品牌、作假数据等方式混淆视听。</p>
            <p>作为中国手机维修行业的领导者，上海启凌科技郑重声明：我们所有采用的原材料均符合原厂生产工艺标准，坚守对用户的品质承诺是上海启凌科技人永远保持的底线，让利消费者是上海启凌科技商业对中国手机维修行业的价值。</p>
            <p>我们承诺：不会滥用其他相关材料来降低对用户的服务品质。在此也提醒各位用户，为免受骗，谨防低价陷阱！</p>
            <img class="notice-img" src="__STATIC__/index/image/about_logo.png">
        </div>
        <p class="notice-btn">我知道了</p>
    </div>

    {include file="public/footer"}

</div>-->
    <!-- JiaThis Button END -->
    <script type="text/javascript">
        var jiathis_config = {
            summary: "",
            shortUrl: false,
            hideMore: false
        }
    </script>
    <!--<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>-->

    <div class="toolbar">

        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1053792414&site=qq&menu=yes">
            <img class="servers" src="__STATIC__/index/image/servers.png">
            <p class="btn">在线客服</p>
        </a>
        <a href="#" style="display: block" id="topcontrol">
            <p class="gotop">返回顶部</p>
        </a>
    </div>
    <!--toolbar over-->
    <script src="__STATIC__/index/js/jquery.min.js"></script>
    <script src="__STATIC__/index/js/jquery.autocomplete.min.js"></script>
    <script src="__STATIC__/index/js/swiper-3.4.1.min.js"></script>
    <script src="__STATIC__/index/js/config.js"></script>
    <script src="__STATIC__/index/js/newindex.js"></script>
    <script src="__STATIC__/index/js/public.js"></script>
    <script src="__STATIC__/index/js/index.js"></script>
    <script src="__STATIC__/index/js/statistics.js"></script>
    <script>	
        var swiper = new Swiper('.swiper-container', {
            pagination: '.swiper-pagination',
            slidesPerView: 3,
            paginationClickable: true,
            spaceBetween: 30,
            freeMode: true,
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        }); 
    </script>
</body>

</html>